<!DOCTYPE html>
<html>
<head>
    <title>Movie Interest Predictor</title>
</head>
<body>
    <h2>Enter Features for Two Users</h2>
    <form action="/predict" method="post">
        <label>Age:</label><br>
        <input type="text" name="feature1"><br>
        <label>Gender (1 = Male, 0 = Female):</label><br>
        <input type="text" name="feature2"><br><br>
        <label>Age:</label><br>
        <input type="text" name="feature3"><br>
        <label>Gender (1 = Male, 0 = Female):</label><br>
        <input type="text" name="feature4"><br><br>

        <input type="submit" value="Predict">
    </form>
</body>
</html>